* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    width: 80%;
    margin: auto;
    font-family:'Montserrat', sans-serif; 
}

body header img {
    height: 70px;
    padding-right: 20px;
    border-right: 1px solid #EFEFEF;
}

header nav {
    padding: 40px 0 30px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #A0A0A0;
}

header nav li {
    list-style: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 20px;
}

#jumbotron {
    height: 400px;
    background-color:#E1D67A;
    margin-bottom: 20px;
}

.container {
    height: 500px;
    background-color: #0086FF;
}

.container > header, .main-section * {
    background-color: #ABCFE7;
}

.container > header {
    height: 60px;
}

.main-section *{
    height: calc(100% - 60px - 30px);
    float: left;
    
}

.main-section {
    margin: 15px 0;
    width: 100%;
    height: 100%;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}

aside {
    width: 25%;
}

section {
    width: calc(50% - 20px);
    margin: 0 10px;
}

footer {
    height: 40px;
    background-color:#8801FE;
    margin-top: 5px;
}

